$break-medium: 850px;
$break-small: 414px;

.portfolio-fixed {
  position: fixed;
  right: 0;
  top: 0;
  width: 30rem;
  z-index: 100;
}

.app-portfoliolink {
  display: flex;
  font-size: 1.1rem;
  color: rgb(22, 22, 22);
  background: rgb(207, 207, 207);
  position: absolute;
  right: 0;
  z-index: 5;
  padding: 0.6rem 1.4rem;
  border-radius: 1rem 0 0 1rem;
  width: 36rem;
  top: 6rem;
  cursor: default;

  a {
    margin-left: 0.3rem;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: rgb(199, 0, 0);

    &:hover {
      color: rgb(114, 0, 0);
      text-align: center;
    }
  }
  @media screen and(max-width: $break-medium) {
    top: 6.5rem;
  }
}

.app-openportfoliolink {
  color: rgb(17, 17, 17);
  font-size: 1rem;
  background: rgba(238, 238, 238, 0.247);
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: #fff;
    background: rgba(17, 17, 17, 0.564);
  }

  @media screen and(max-width: $break-medium) {
    top: 7rem;
  }
}

.app-closeportfoliolink {
  color: rgb(133, 133, 133);
  cursor: pointer;
  margin-right: 0.6rem;
  transform: scale(1.4);
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: rgb(116, 0, 0);
  }
}
